<!-- /*
* File: about.html
* Author:Szabó Brigitta
* Copyright: 2022, Szabó Brigitta
* Group: Szoft I/N
* Date: 2022-06-13
* Github: https://github.com/tailorbrigit/
* Licenc: GNU GPL
*/ -->

<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    
    <title>0339 feladat</title>

</head>

<body>
    <div class="container">
        
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="index.php">Főoldal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.php">Névjegy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled"></a>
            </li>
          </ul>

    <h1>Orsószferoid </h1>