<!-- /*
* File: about.html
* Author:Szabó Brigitta
* Copyright: 2022, Szabó Brigitta
* Group: Szoft I/N
* Date: 2022-06-13
* Github: https://github.com/tailorbrigit/
* Licenc: GNU GPL
*/ -->


<h2> Orsószferoid számítása </h2>

<form action="szamit.php" method="get">

    <div>
        <label for="aTengely" class="form-label">A tengely</label>
        <input type="text" class="form-controll" name="aTengely" id="aTengely">
    </div>
    <div>
        <label for="bTengely" class="form-label">B tengely</label>
        <input type="text" class="form-controll" name="bTengely" id="bTengely">
    </div>
    <button type="submit" class="mt-4 btn btn-info">Számít</button>

</form>